[
  { rabbit, [
        { tcp_listeners,        [5672] },
        { ssl_options, [ { cacertfile, "/etc/rabbitmq/ca.pem" },
                         { certfile, "/etc/rabbitmq/server.crt"},
                         { keyfile, "/etc/rabbitmq/server.key" },
                         { verify, verify_peer },
			 { fail_if_no_peer_cert, false } ] }
  ] },

  { rabbitmq_mqtt, [
        { vhost,                <<"/">> },
        { tcp_listeners,        [1883] },
        { ssl_listeners,        [8883] },
	{ allow_anonymous,	true }
  ] }
].

